#
##
1. pip install pip-tools  #for the tools like pip-compile.

2. pip install pipreqs #scan your project generate a requirements.txt file that contains only the packages required by your project.
   command pipreqs  

3. pip freeze > requirements.txt    #to create requirement.txt file.

4. pip freeze    #list of packages and version.

build==1.2.1
click==8.1.7
colorama==0.4.6
heroes==1.0.2
Menu==3.2.2
packaging==24.1
pip-tools==7.4.1
prettytable==3.10.0
pyproject_hooks==1.1.0
setuptools==70.0.0
wcwidth==0.2.13
wheel==0.43.0


